html {
	height: 100%;
	display: block;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
}

h1 {    
	font-weight: 400;
	font-size: 4.2rem;
    line-height: 110%;
}

img {
	margin: 5rem 0 0 0;
	width: 100%;
}

h3 {
	font-size: 2rem;
    margin: 0.8rem 0 0 0;
	display: block;
    -webkit-margin-before: 0.8em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#content-search {
	width: 50%;
	margin: 0 auto;
}

.red-text {
	text-decoration: none;
	color: #F44336;
}

.center {
	text-align: center;
}

input[type=text] {
	font-family: "Roboto" sans-serif;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    width: 100%;
    margin: 0 0 20px 0;
	min-width: 160px;
	font: inherit;
    user-select: text;
    cursor: auto;
}

.btn {
    cursor: pointer;
    will-change: opacity, transform;   
	-webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
	background-color: #F44336;
    color: #fff;
    letter-spacing: 1px;
	border: none;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#urllist {
	color: #969696;
	background-color: rgb(255,235,238);
}

.results-container {
	padding: 0.1rem 5rem;
}

.result-entry {
	padding: 20px;
	border-bottom: 1px solid #9e9e9e;
}

.result-entry:last-of-type {
	padding-bottom: 50px;
	border-bottom: none;
}


.result-entry span {
	display: inline-block;
	text-align: justify;
}

.result-entry span:first-letter {
	text-transform: uppercase;
}

.link-text a {
	text-decoration: none;
	color: rgb(3, 175, 232);
}

footer {
	padding: 20px 0;
}